<!DOCTYPE html>
<html>
  <head>
    <title>TestSenditru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4">

    <a class="navbar-brand" href='/' data-turbolinks='false'>Github Commits Importer</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?(owners_path) %>">
          <a class="nav-link" href=<%= owners_path %>>Owners</a>
        </li>
      </ul>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
